{{! <footer class="footer">
  <div class="chd-shadow container">
    <p>
      Copyright (c) foobar
    </p>
  </div>
</footer> }}
<footer class="footer chd-shadow">
  <div class="container">
    <span class="text-muted">
      Copyright (c) foobar
    </span>
  </div>
</footer>