extends base.pug

block content
  style.
    #diary{
      width: 50%;
    }
    .diarydata_name {
      flex: 3
    }
    .diarydata_type {
      flex: 2
    }
    .diarydata_date {
      flex: 2
    }
  //- #home.col.d-flex.flex-column.align-items-center
  #home.col.d-flex
    #mainpage.d-flex.flex-column.align-items-center.col
      //- hx-target='#home'
      #diary(
        hx-get="/diary_data"
        hx-swap='innerHTML'
        hx-trigger="load"
      )

