//- include index
extends index.pug

block content
  #home.container.col
    #diary.container.d-flex.flex-column
      //- P Diarys

      if diaries
        #diary-headers.d-flex.flex-row
          each diary, value in diaryDataKeys
            #diary-header.col= diary
        //- each val in diaries
        each diary, value in diaries
          #diary-data.d-flex.flex-row
            each d  in diary
              #diary-data.col= d

            //- li= key + ": " + value
          //- each value, key in diary
          //-   li= key + ": " + value
          //-   //- if value == Object
          //-   if Array.isArray(value)
          //-     each v, k in value
          //-       li= k + ": " + v
          //- each val in diaries
          //-   li= val.createdAt
          //-   li= val.Food.name
          //-   li= val.Food.portion
          //-   //- li= val.Food.FoodProperty
          //-   each key, value in val.Food.FoodProperty
          //-     li= value + ': ' + key
          //-   li= val.Food.Interfood.InterfoodType.name