<div id="root" class="h-100 d-flex flex-column">
  {{> rootComponents/navbar }}

  {{> (dynamicPage) }}

  <script>

    document.body.addEventListener('htmx:afterOnLoad', function(e) {
      if (window.runClockId === undefined){
        window.runClockId = runClock(getCookie("refTokenExp"))
      }
    });

    document.body.addEventListener('loginSuccess', function(e) {
        accessToken = e.detail.accesToken;
    });

    document.body.addEventListener('logoutSuccess', function(e) {
        window.clearInterval(window.runClockId)
        htmx.find("#untilTokenExpired").innerHTML = ""
    });

    // document.addEventListener('htmx:afterRequest', function (evt) {});
  </script>

  {{> rootComponents/footer }}

  <div
    id="modal"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  </div>
  <div class="position-fixed top-0 end-0 pe-3 pt-5">
    <div
      id="toast"
      class="toast align-items-center text-white bg-success border-0 w-auto "
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div id="toast-body" class="toast-body"></div>
    </div>
  </div>
</div>