<div id="root" class="h-100 d-flex flex-column">
  {{> navbar }}

  {{> (dynamicPage) }}

  <script>
    window.onload = function(){
      console.log(".......window.onload....... ")
      // console.log(".......runClock....... ", getCookie("refTokenExp"), window.runClockId)
      window.runClockId = runClock(getCookie("refTokenExp"))
      const toastElement = document.getElementById("toast")
      const toastBody = document.getElementById("toast-body")
      const toast = new bootstrap.Toast(toastElement, { delay: 5000 })
      htmx.on("showMessage", (e) => {
        toastBody.innerText = e.detail.value
        toast.show()
      })
    }

    document.body.addEventListener('htmx:afterOnLoad', function(e) {
      console.log(".......htmx:afterOnLoad....... ")
      //console.log(".......htmx runClock....... ", getCookie("refTokenExp"), window.runClockId)
      if (window.runClockId === undefined){
        window.runClockId = runClock(getCookie("refTokenExp"))
      }
    });

    document.body.addEventListener('htmx:configRequest', function(evt) {
        evt.detail.headers['access_token'] = accessToken;
        // console.log("--> evt --> ", evt.detail)
        if (evt.detail.path === "/daily-course/date" ){
          // evt.detail.parameters['date'] = accessToken;
          // console.log("aaaaaa ", YYYYMMDD())
          evt.detail.path += "/" + YYYYMMDD()
        }
    });

    document.body.addEventListener('loginSuccess', function(e) {
        accessToken = e.detail.accesToken;
    });

    document.body.addEventListener('logoutSuccess', function(e) {
        window.clearInterval(window.runClockId)
        htmx.find("#untilTokenExpired").innerHTML = ""
    });

    document.addEventListener('htmx:afterRequest', function (evt) {
      // console.log("------->after --> ", evt.detail)
      // console.log(evt.detail.target.id, evt.detail.pathInfo.requestPath)
    });
  </script>

  {{> footer }}

  <div
    id="modal"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  </div>
  <div class="position-fixed top-0 end-0 pe-3 pt-5">
    <div
      id="toast"
      class="toast align-items-center text-white bg-success border-0 w-auto "
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div id="toast-body" class="toast-body"></div>
    </div>
  </div>
</div>