//- #main.container.col
//-   if isLoggedIn
//-     include main.pug
//-   else
//-     include _login
extends index.pug

block content
  #home.container.col
    .row.justify-content-md-center
      .col-md-auto
        H3 Hello at ChDiary main page
