html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.midlaner {
  background-color: #eeeeee
}

.toplaner {
  background-color: #ffea00
}

.chd-shadow {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.diarydata_name{
   margin-right: 40px;
}

.diarydata_name.overflow {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.diarydata_name.overflow:hover {
  overflow: visible;
}

.diarydata_name.overflow:hover span {
  position: relative;
  background-color: white;

  box-shadow: 0 0 4px 0 black;
  border-radius: 1px;
}
