<nav id="navDiary" class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      Chdiary
    </a>
    <div class="nav-link" id="userInfo">
      {{#if user}}
      <div id="anonym">
        Hello {{user.nickname}}
      </div>
      {{else}}
      <div id="anonym">
        Hello Anonymus !
      </div>
      {{/if}}
      <div id="untilTokenExpired"></div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-target="#navbarToggler" aria-controls="navbarToggler"
      aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" hx-boost="false">
            Home
          </a>
        </li>
        {{#if isLoggedIn}}
        <li class="nav-item">
          <a class="nav-link" href="/diary" hx-target="#home" hx-swap="outerHTML" data-bs-target="#navbarToggler"
            data-bs-toggle="collapse">
            All Diaries
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/daily-course" hx-target="#home" hx-swap="outerHTML" data-bs-target="#navbarToggler"
            data-bs-toggle="collapse">
            Daily courses
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" hx-get="/import" hx-target="#interfoodModal" data-bs-toggle="modal"
            data-bs-target="#interfoodModal" hx-trigger="click">
            Import Interfood
          </a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/about" data-bs-target="#navbarToggler" data-bs-toggle="collapse">
            About
          </a>
        </li>
        <li class="nav-item">
          <div id="authContainer" class="d-flex gap-4">
            {{#if isLoggedIn}}
            <a class="nav-link" href="/logout" hx-target="#home" hx-replace-url="/" data-bs-target="#navbarToggler"
              data-bs-toggle="collapse">
              Logout
            </a>
            {{else}}
            <a class="nav-link" href="/login" hx-target="#home" data-bs-target="#navbarToggler"
              data-bs-toggle="collapse">
              Login
            </a>
            <a class="nav-link" href="/register" hx-target="#home" data-bs-target="#navbarToggler"
              data-bs-toggle="collapse">
              Register
            </a>
            {{/if}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>