<div id="home" class="col d-flex justify-content-center">
  <div id="spacer" style="flex: 1"></div>
  <div
    id="diary"
    hx-get="/all-diary"
    hx-swap="innerHTML"
    hx-trigger="load"
    style="flex: 2;flex: 7;height: 75vh;"
    class="m-5 overflow-x-auto"
  ></div>
  <div id="spacer" style="flex: 1"></div>
</div>