{{#if diaries}}
  <div id="diary-headers" class="d-flex flex-row">
    {{#each diaryHeaders as |diary|}}
      <div id="diary-header" class="col diarydata_{{diary}}">
        {{diary}}
      </div>
    {{/each}}
  </div>
  {{#each diaries as |diary|}}
    <div id="diary-data" class="d-flex flex-row">
      {{#each diary as |d|}}
        <span id="diary-data" class="col diarydata_{{d.[0]}} overflow" >
          <span>{{d.[1]}}</span>
        </span>
      {{/each}}
    </div>
  {{/each}}
{{/if}}