{{#if entriesByDate}}
  <div
    id="DailyCourseContainer"
    class="col d-flex justify-content-center flex-column"
    style="font-size: 75%"
  >
    {{> _daily_course/DailyCourseContainer.Header}}

    {{#each entriesByDate as |entry|}}
      <div
        id="{{entry.id}}"
        class="card d-flex justify-content-between flex-column p-2 m-2"
      >
        {{> _daily_course/FoodRow entry=entry }}
        <div id="FoodTables" class="d-flex justify-content-around flex-row p-2">
          {{> _daily_course/FoodProp entry=entry }}
          {{> _daily_course/ChRatio entry=entry }}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}