{{#if entriesByDate}}
  <div
    id="dailyCurseDatas"
    class="col d-flex justify-content-center flex-column"
    style="font-size: 75%"
  >
    {{> _daily_curse/dailyCurseDataHeader}}

    {{#each entriesByDate as |entry|}}
      <div
        id="{{entry.id}}"
        class="card d-flex justify-content-between flex-column p-2 m-2"
      >

        <div id="foodRow">
          <b
            class="entry d-flex align-items-center justify-content-center flex-row"
          >
            <div>
              <p class="p-2  m-2 card text-nowrap">
                {{entry.FoodType}}
              </p>
            </div>
            <div>
              <p class="p-2  m-2 card text-nowrap">
                {{entry.FoodPortion}} g
              </p>
            </div>
            <div>
              <p class="p-2  m-2 card text-wrap">
                {{entry.FoodName}}
              </p>
            </div>
          </b>
        </div>

        <div id="FoodTable" class="d-flex justify-content-around flex-row p-2">
          {{> _daily_curse/FoodProp entry=entry }}
          {{> _daily_curse/ChRatio entry=entry }}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}