<div id="home" class="col d-flex justify-content-center">
  <div id="spacer" style="flex: 1"></div>
  <div
    id="dailyCurse"
    hx-get="/daily_curse_data/date"
    hx-swap="outerHTML"
    hx-trigger="load"
    style="flex: 1.5"
  >
  </div>
  <div id="spacer" style="flex: 1"></div>
</div>