<div id="home" class="col d-flex justify-content-center">
  <div id="spacer" style="flex: 1"></div>
  <div
    id="diary"
    hx-get="/diary_data"
    hx-swap="innerHTML"
    hx-trigger="load"
    style="flex: 2"
  ></div>
  <div id="spacer" style="flex: 1"></div>
</div>