<div id="home" class="d-flex justify-content-center">
  <div id="dcSpacer"></div>
  <div
    id="DailyCourse"
    hx-get="/daily-course/date/{{today}}"
    hx-swap="outerHTML"
    hx-trigger="load"
    style="flex: 1.5"
  >
  </div>
  <div id="dcSpacer"></div>
</div>