<div id="RatiosWhInsulin" class="d-flex flex-column col-12">
  <div id="ratio" class="row">
    <div class="col">
      Ratio
    </div>
    {{#each entry.ChRatio.ratiosWhInsulin.ratio as |ratio|}}
      <div class="col">
        {{ratio}}
      </div>
    {{/each}}
  </div>
  <div id="insulin" class="row">
    <div class="col">
      Insulin
    </div>
    {{#each entry.ChRatio.ratiosWhInsulin.insulin as |insulin|}}
      <div class="col">
        {{insulin}}
      </div>
    {{/each}}
  </div>
</div>