<div id="FoodInfo">
  <b class="entry d-flex align-items-center justify-content-center flex-row">
    <div>
      <p class="p-2  m-2 card text-nowrap">
        {{entry.FoodType}}
      </p>
    </div>
    <div>
      <p class="p-2  m-2 card text-nowrap">
        {{entry.FoodPortion}} g
      </p>
    </div>
    <div>
      <p class="p-2  m-2 card text-wrap">
        {{entry.FoodName}}
      </p>
    </div>
  </b>
</div>