<div id="FoodProp" class="d-flex p-1">
  {{!-- <div id="spacer" class="col-4"></div> --}}

  <div id="FoodPropContainer" class="d-flex flex-column col-12">
    <div id="FoodPropName" class="d-flex justify-content-around">
      {{#each entry.FoodProp.names as |FoodPropName|}}
        <div class="col">
          {{FoodPropName}}
        </div>
      {{/each}}
    </div>

    <div id="FoodPropValue" class="d-flex justify-content-around">
      {{#each entry.FoodProp.values as |FoodPropValue|}}
        <div class="col">
          {{FoodPropValue}}
        </div>
      {{/each}}
    </div>
  </div>

  {{!-- <div id="spacer" class="col-2"></div> --}}
</div>