<!DOCTYPE html>
<html lang="en">

{{> header}}
  <script>
    let accessToken = undefined
    let refTokenExp = undefined
  </script>
  <script src="./js/navbar.js">
  </script>

<body>
  {{{body}}}
</body>

</html>